.pie-container {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
}

.pie-box {
    background-color: #6a6a72;
    padding-bottom: 30px;
    width: 25%; /* Ajuste conforme necessário */
}

.pie-box-title {
    color: white;
    padding: 5px 0 0 10px;
}
