.calendar-container {
    margin: 20px;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 2em;
    margin: 0;
  }
  
  .calendar-content {
    display: flex;
    justify-content: space-between;
  } */
  
  .calendar-sidebar {
    flex: 1 1 20%;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 4px;
  }
  
  .calendar-sidebar h5 {
    margin-bottom: 10px;
  }
  
   .event-list {
    list-style: none;
    padding: 0;
  }
  
  .event-item {
    background-color: #d4edda;
    margin: 10px 0;
    padding: 10px;
    border-radius: 2px;
  }
  
  .event-title {
    font-weight: bold;
  }
  
  .event-date {
    color: #555;
  }
  
  .calendar {
    flex: 1 1 100%;
    margin-left: 15px;
  }
  