 .navbar{
    width: 100%;
    height: 70px;
    padding-left: 10px;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dashboard{
    text-align: right;
    margin-right: 30px;
    font-size: var(--fsize-md);
    color: white;
}